In [1]:
import pandas as pd

In [4]:
sales = pd.read_csv("sales.csv")
inventory = pd.read_csv("inventory.csv")

In [5]:
inventory["stock_level"] = inventory["stock_level"] - sales["quantity_sold"].groupby(sales["product_id"]).transform("sum")

In [6]:
inventory.to_csv("updated_inventory.csv", index=False)

In [7]:
top5 = sales.groupby("product_id")["total_amount"].sum().nlargest(5)
print("Top 5 Best-Selling Products:\n", top5)

Top 5 Best-Selling Products:
 product_id
1    275000
2    250000
5     80000
3      8750
4      2000
Name: total_amount, dtype: int64

In [8]:
top5.to_csv("top5_best_selling.csv")